.game {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.game__middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.game__avatar-block {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

@media (min-width: 1025px) {
  .game__avatar-block {
    display: none;
  }
}

@media (max-width: 640px) {
  .game__middle-section {
    position: relative;
  }

  .game__header-section {
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: rgb(233, 233, 233);
    border-bottom: 2px solid white;
  }

  .game__scorecard--section {
    position: sticky;
    bottom: 0;
  }
}
