.avatar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.avatar__title {
  padding: 7px 14px;
  border: 3px solid transparent;
  border-radius: 20px;
}

.avatar__title--current {
  border-color: #115b04;
  background-color: #115b0482;
}

.avatar__image {
  height: 50%;
}

.avatar__image--right {
  transform: scale(-1, 1);
}
