.question {
  display: flex;
  background-color: white;
  border-radius: 25px 25px 0 0;
  width: 780px;
}

.question__infoside {
  display: flex;
  flex-direction: column;
  margin: 25px;
  align-items: center;
  gap: 10px;
}

.question__teesign {
  height: 200px;
}

.question__weather {
  height: 50px;
  width: 50px;
}

.question__answer,
.question__button {
  background-color: #d9d9d9;
  padding: 15px;
  border-radius: 20px;
  margin-right: 25px;
}

.question__answer--corect {
  border: 3px solid #115b04;
  background-color: #115b0482;
}

.question__answer--wrong {
  border: 3px solid rgb(197, 0, 0);
  background-color: rgba(91, 24, 24, 0.445);
}

.question__buttonBox {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.question__button {
  flex-basis: 300px;
  background-color: #d9d9d9;
  cursor: pointer;
}

.question__button--action {
  background-color: #115b0482;
}
