.scorecard {
  display: flex;
  justify-content: center;
  width: 780px;
}

.scorecard__table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: 2px solid rgb(140 140 140);
}

td,
th {
  border: 2px solid rgb(56, 56, 56);
  max-width: 50px;
  height: 40px;
}

thead > tr {
  background-color: #86ab7f;
}

tbody {
  background-color: white;
}

@media (max-width: 640px) {
  .scorecard {
    width: 100vw;
    font-size: smaller;
  }

  td,
  th {
    height: 30px;
  }
}
