.about {
  width: 50%;
  background-color: white;
  margin: 0 auto 25px auto;
  padding: 25px;
  border: 5px solid #d9d9d9;
  border-radius: 20px;
}

.about a {
  text-decoration: none;
  color: #115b04;
}

@media (max-width: 640px) {
  .about {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .about {
    width: 75%;
  }
}
