.container {
  display: flex;
  flex-direction: column;
  border-style: solid;
  border-color: #115b04;
  width: 50%;
  align-items: center;
  padding: 30px;
  margin: 0 auto;
  border-radius: 20px;
  background-color: #ffffff;
}

.menu_buttons {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 25px;
}

.btn_field {
  display: flex;
}

h1 {
  color: #115b04;
  font-size: xx-large;
}

@media (max-width: 640px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 640px) and (max-width: 1024px) {
  .container {
    width: 75%;
  }
}
